<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyGigya.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7F4A71B1CF49082001983FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7F4A7341CF49082001983FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7F4A73F1CF49083001983FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
